html{
	height:  100%;
}

body{
	height:  100%;
	background: #541910;  
	background: -moz-radial-gradient(center, ellipse cover, rgba(61,44,12,0) 0%, rgba(61,44,12,1) 100%),
	-moz-linear-gradient(left,  #541910 0%, #541910 50%, #a07335 50%, #a07335 100%, #a07335 100%, #a07335 100%, #a07335 100%, #a07335 100%, #a07335 100%, #5b371e 100%, #541910 100%); 
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(61,44,12,0.53)), color-stop(100%,rgba(61,44,12,1))),
	-webkit-gradient(linear, left top, right top, color-stop(0%,#541910), color-stop(50%,#541910), color-stop(50%,#a07335), color-stop(100%,#a07335), color-stop(100%,#a07335), color-stop(100%,#a07335), color-stop(100%,#a07335), color-stop(100%,#a07335), color-stop(100%,#a07335), color-stop(100%,#5b371e), color-stop(100%,#541910)); 
	background: -webkit-radial-gradient(center, ellipse cover, rgba(61,44,12,0) 0%,rgba(61,44,12,1) 100%),
	-webkit-linear-gradient(left,  #541910 0%,#541910 50%,#a07335 50%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#5b371e 100%,#541910 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(61,44,12,0) 0%,rgba(61,44,12,1) 100%),
	-o-linear-gradient(left,  #541910 0%,#541910 50%,#a07335 50%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#5b371e 100%,#541910 100%);  
		background: -ms-radial-gradient(center, ellipse cover, rgba(61,44,12,0) 0%,rgba(61,44,12,1) 100%),
	-ms-linear-gradient(left,  #541910 0%,#541910 50%,#a07335 50%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#5b371e 100%,#541910 100%);  
	background: radial-gradient(center, ellipse cover, rgba(61,44,12,0) 0%,rgba(61,44,12,1) 100%),
	linear-gradient(left,  #541910 0%,#541910 50%,#a07335 50%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#a07335 100%,#5b371e 100%,#541910 100%);  
	-webkit-background-size: 100% 200%,  30px 50px;
	-moz-background-size: 100% 200%,  30px 50px;
	-ms-background-size: 100% 200%,  30px 50px;
	-o-background-size: 100% 200%,  30px 50px;
	background-size: 100% 200%, 30px 50px;
	text-align: center;
	}


.yesteryear {
	position:  relative;
	margin:  -50px 0px;
	font: 56px 'Yesteryear';
	text-shadow: rgba(0,0,0,0.8) 12px 8px 5px;
	color:  #8CB6A7;
	opacity: 0;
	}
	
.anton {
	display: inline-block;
	vertical-align: 40px;
	top:  -30px;
	font: 50px 'Anton', sans-serif;
	text-transform: uppercase;
	color:  #2d7a5e;
	letter-spacing: 6px;
	text-shadow: 0.1em 0em 0px #740F1D;
	opacity:  0;
	margin: 0px -;
}

.fadeIn{
	-webkit-transition:  opacity 0.5s ease-in;
	-moz-transition:  opacity 0.5s ease-in;
	-ms-transition:  opacity 0.5s ease-in;
	-o-transition:  opacity 0.5s ease-in;
	transition:  opacity 0.5s ease-in;
}

#ampersand{
	position:  relative;
	display:  inline-block;
 	margin:  -70px 8px 0px 5px;
	font: 170px 'Playfair Display';
	font-style: italic;
	color:  #740F1D;
	color:  white;
	text-align: center;
	text-shadow: 4px 4px 0px #2d7a5e;
	opacity: 0;
	}

#bree{
	opacity: 0;
}

#bree, .bree{
	margin:  0px;
	display: block;
	top:  0px;
	font: 62px 'Bree Serif';
	text-transform: uppercase;
	color:  #F4E8C0;
	text-shadow: 3px 3px 0px #977321;
	letter-spacing: 1px;
 }
h3:nth-of-type(1){
	text-align: center;
}
#demo{
	position:  relative;
	margin: 50px auto;
	text-align: center;
	min-width:  600px;
	line-height: 0;

	/*border:  solid #E2C359 10px;
	background-color: #740F1D;*/
	display: inline-block;
	padding:  10px;
	position:  relative;
	height:  auto;
	padding-bottom:  50px;
}